AWS_REGION=your-region
AWS_APP_CONFIG_APP=app-id
AWS_APP_CONFIG_ENV=env-id
AWS_APP_CONFIG_PROFILE=profile-id

# Testnet RPC Credentials
XRPLEVM_TESTNET_RPC_USERNAME=your_testnet_username
XRPLEVM_TESTNET_RPC_PASSWORD=your_testnet_password

# Devnet RPC Credentials (optional)
XRPLEVM_DEVNET_RPC_USERNAME=your_devnet_username
XRPLEVM_DEVNET_RPC_PASSWORD=your_devnet_password

# Mainnet RPC Credentials (optional)
XRPLEVM_MAINNET_RPC_USERNAME=your_mainnet_username
XRPLEVM_MAINNET_RPC_PASSWORD=your_mainnet_password

# Localnet RPC Credentials (optional)
XRPLEVM_LOCALNET_RPC_USERNAME=your_localnet_username
XRPLEVM_LOCALNET_RPC_PASSWORD=your_localnet_password